body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  letter-spacing: 2px;
}


@media only screen and (min-width: 400px) {
  .logout-btn {
    font-size: 1.5vh;
    position: absolute;
    margin-left: 25%;
    margin-top: -16%;
    width: 20%;
  }

  .add-form {
    border-left: 4px solid aqua;
    border-right: 4px solid aqua;
    border-bottom: 4px solid aqua;
    margin-top: -9%;
  }

  .tablelist th {
    color: aqua;
  }

  .tablelist {
    font-size: 1.2vh;
    margin-left: -2%;
    border-left: 4px solid aqua;
    border-right: 4px solid aqua;
    height: 103%;
    width: 104%;
  }
  .table-btn{
    font-size: 1.2vh;
  }

  .btn-class {
    display: flex;
    width: 70%;
    margin-left: -5%;
  }

  .h2,
  .h1 {
    color: aqua;
    text-align: center;
  }

  .submit-btn {
    margin-left: 20%;
    margin-top: 10%;
  }

  .col {
    margin-left: 4%;
    margin-right: 4%;
  }
}


@media only screen and (min-width: 480px) {
  .logout-btn {
    position: absolute;
    margin-left: 22%;
    margin-top: -14%;
    width: 25%;
  }

  .add-form {
    border-left: 4px solid aqua;
    border-right: 4px solid aqua;
    border-bottom: 4px solid aqua;
    margin-top: -8%;
  }

  .tablelist th {
    color: aqua;
  }

  .tablelist {
    margin-left: -2%;
    border-left: 4px solid aqua;
    border-right: 4px solid aqua;
    height: 103%;
    width: 104%;
  }

  .btn-class {
    display: flex;
    width: 60%;
  }

  .h2,
  .h1 {
    color: aqua;
    text-align: center;
  }

  .submit-btn {
    margin-left: 20%;
    margin-top: 10%;
  }

  .col {
    margin-left: 4%;
    margin-right: 4%;
  }
}


@media only screen and (min-width: 600px) {
  .logout-btn {
    position: absolute;
    margin-left: 22%;
    margin-top: -14%;
    width: 25%;
  }

  .add-form {
    border-left: 4px solid aqua;
    border-right: 4px solid aqua;
    border-bottom: 4px solid aqua;
    margin-top: -7%;
    width: 100%;
  }

  .tablelist th {
    color: aqua;
  }
  
  .tablelist {
    margin-left: -1.6%;
    border-left: 4px solid aqua;
    border-right: 4px solid aqua;
    height: 103%;
    width: 100%;
  }

  .btn-class {
    display: flex;
    width: 70%;
  }

  .h2,
  .h1 {
    color: aqua;
    text-align: center;
  }

  .submit-btn {
    margin-left: 20%;
    margin-top: 10%;
  }

  .col {
    margin-left: 4%;
    margin-right: 4%;
  }




}




@media only screen and (min-width: 1280px) {
  .logout-btn {
    position: absolute;
    margin-left: 50%;
    margin-top: -5%;
    width: 10%;
  }

  .add-form {
    border-left: 4px solid aqua;
    border-right: 4px solid aqua;
    border-bottom: 4px solid aqua;
    margin-top: -6%;
  }

  .tablelist th {
    color: aqua;
  }

  .tablelist {
    margin-top: -2%;
    border-left: 4px solid aqua;
    border-right: 4px solid aqua;
    height: 103%;
    width: 104%;
  }

  .btn-class {
    display: flex;
    width: 70%;
  }

  .h2,
  .h1 {
    color: aqua;
    text-align: center;
  }

  .submit-btn {
    margin-left: 20%;
    margin-top: 10%;
  }

  .col {
    margin-left: 4%;
    margin-right: 4%;
  }
}

.title {
  border-bottom: 4px solid aqua;
}

/* .tablelist {
  margin-top: -1.5%;
  border-left: 4px solid aqua;
  border-right: 4px solid aqua;
  height: 103%;
} */

/* .form {
  margin-top: -1.5%;
  border-left: 4px solid aqua;
  border-right: 4px solid aqua;
  border-bottom: 4px solid aqua;
  height: 130%;
} */